# Loan Default Prediction

<img src="http://jihoon-kim.synology.me/wp-content/uploads/2017/07/LOAN-1024x512.jpg">

## Import Modules

In [2]:
# import modules
import pandas as pd

# Load Data

Data is provided by Kaggle Datasets(https://www.kaggle.com/wendykan/lending-club-loan-data).

### Data Description
>These files contain complete loan data for all loans issued through the 2007-2015, including the current loan status (Current, Late, Fully Paid, etc.) and latest payment information. The file containing loan data through the "present" contains complete loan data for all loans issued through the previous completed calendar quarter. Additional features include credit scores, number of finance inquiries, address including zip codes, and state, and collections among others. The file is a matrix of about 890 thousand observations and 75 variables. A data dictionary is provided in a separate file.

In [4]:
# load data
loan = pd.read_csv('./data/loan.csv')

/home/jihoon_kim/anaconda3/envs/tensorflow/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (19,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

# Exploratory Data Analysis

Let's quickly explore how this data looks like.

In [7]:
loan.dtypes

id                               int64
member_id                        int64
loan_amnt                      float64
funded_amnt                    float64
funded_amnt_inv                float64
term                            object
int_rate                       float64
installment                    float64
grade                           object
sub_grade                       object
emp_title                       object
emp_length                      object
home_ownership                  object
annual_inc                     float64
verification_status             object
issue_d                         object
loan_status                     object
pymnt_plan                      object
url                             object
desc                            object
purpose                         object
title                           object
zip_code                        object
addr_state                      object
dti                            float64
delinq_2yrs                    float64
earliest_cr_line                object
inq_last_6mths                 float64
mths_since_last_delinq         float64
mths_since_last_record         float64
                                ...
collection_recovery_fee        float64
last_pymnt_d                    object
last_pymnt_amnt                float64
next_pymnt_d                    object
last_credit_pull_d              object
collections_12_mths_ex_med     float64
mths_since_last_major_derog    float64
policy_code                    float64
application_type                object
annual_inc_joint               float64
dti_joint                      float64
verification_status_joint       object
acc_now_delinq                 float64
tot_coll_amt                   float64
tot_cur_bal                    float64
open_acc_6m                    float64
open_il_6m                     float64
open_il_12m                    float64
open_il_24m                    float64
mths_since_rcnt_il             float64
total_bal_il                   float64
il_util                        float64
open_rv_12m                    float64
open_rv_24m                    float64
max_bal_bc                     float64
all_util                       float64
total_rev_hi_lim               float64
inq_fi                         float64
total_cu_tl                    float64
inq_last_12m                   float64
Length: 74, dtype: object

In [8]:
loan.isnull().sum()

id                                  0
member_id                           0
loan_amnt                           0
funded_amnt                         0
funded_amnt_inv                     0
term                                0
int_rate                            0
installment                         0
grade                               0
sub_grade                           0
emp_title                       51457
emp_length                          0
home_ownership                      0
annual_inc                          4
verification_status                 0
issue_d                             0
loan_status                         0
pymnt_plan                          0
url                                 0
desc                           761350
purpose                             0
title                             151
zip_code                            0
addr_state                          0
dti                                 0
delinq_2yrs                        29
earliest_cr_line                   29
inq_last_6mths                     29
mths_since_last_delinq         454312
mths_since_last_record         750326
                                ...
collection_recovery_fee             0
last_pymnt_d                    17659
last_pymnt_amnt                     0
next_pymnt_d                   252971
last_credit_pull_d                 53
collections_12_mths_ex_med        145
mths_since_last_major_derog    665676
policy_code                         0
application_type                    0
annual_inc_joint               886868
dti_joint                      886870
verification_status_joint      886868
acc_now_delinq                     29
tot_coll_amt                    70276
tot_cur_bal                     70276
open_acc_6m                    866007
open_il_6m                     866007
open_il_12m                    866007
open_il_24m                    866007
mths_since_rcnt_il             866569
total_bal_il                   866007
il_util                        868762
open_rv_12m                    866007
open_rv_24m                    866007
max_bal_bc                     866007
all_util                       866007
total_rev_hi_lim                70276
inq_fi                         866007
total_cu_tl                    866007
inq_last_12m                   866007
Length: 74, dtype: int64

There are some columns with huge number of null values! I will drop these columns.

In [9]:
null_cols = ['desc',
             'mths_since_last_delinq',
             'mths_since_last_record',
             'next_pymnt_d',
             'mths_since_last_major_derog',
             'annual_inc_joint',
             'dti_joint',
             'verification_status_joint',
             'open_acc_6m',
             'open_il_6m',
             'open_il_12m',
             'open_il_24m',
             'mths_since_rcnt_il',
             'total_bal_il',
             'il_util',
             'open_rv_12m',
             'open_rv_24m',
             'max_bal_bc',
             'all_util',
             'inq_fi',
             'total_cu_tl',
             'inq_last_12m'
             ]

In [10]:
def drop_null_columns(data):
    """Drop columns (most of values are null)"""
    data.drop(null_cols, axis=1, inplace=True)
    return None

In [11]:
drop_null_columns(loan)

# Modifying Target Column

The target column I am interested in is `loan_status`. Let's explore how this column is composed of.

In [12]:
loan.loan_status.value_counts()

Current                                                601779
Fully Paid                                             207723
Charged Off                                             45248
Late (31-120 days)                                      11591
Issued                                                   8460
In Grace Period                                          6253
Late (16-30 days)                                        2357
Does not meet the credit policy. Status:Fully Paid       1988
Default                                                  1219
Does not meet the credit policy. Status:Charged Off       761
Name: loan_status, dtype: int64

Meaning of loan status is described below:

|Loan Status|Meaning|
|---:|:---|
|Current|Loan is up to date on all outstanding payments.|
|Fully Paid|Loan has been fully repaid, either at the expiration of the 3- or 5-year year term or as a result of a prepayment.|
|Charged Off|Loan for which there is no longer a reasonable expectation of further payments. Generally, Charge Off occurs no later than 30 days after the Default status is reached. Upon Charge Off, the remaining principal balance of the Note is deducted from the account balance.|
|Late (31-120 days)|Loan has not been current for 31 to 120 days.|
|Issued|New loan that has passed all LendingClub reviews, received full funding, and has been issued.|
|In Grace Period|Loan is past due but within the 15-day grace period.|
|Late (16-30 days)|Loan has not been current for 16 to 30 days.|
|Default|Loan has not been current for 121 days or more.|

First of all, `Current` and `Issued` loans are still in progress, so they cannot be used for training. Let's split them.

In [15]:
in_progress_index = ['Current', 'Issued']

In [16]:
def split_loan_in_progress(data):
    """Return table of loan in progress. It drops the loan in progress from loan data internally."""
    progress_bool = data.loan_status.isin(in_progress_index)
    loan_in_progress = data[progress_bool]
    data.drop(list(loan_in_progress.index), axis=0, inplace=True)
    return loan_in_progress

In [17]:
loan_in_progress = split_loan_in_progress(loan)

In [19]:
loan_in_progress

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,tot_coll_amt,tot_cur_bal,total_rev_hi_lim
4,1075358,1311748,3000.0,3000.0,3000.000000,60 months,12.69,67.79,B,B5,...,Jan-2016,67.79,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN
6,1069639,1304742,7000.0,7000.0,7000.000000,60 months,15.96,170.08,C,C5,...,Jan-2016,170.08,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN
32,1065420,1299514,10000.0,10000.0,9975.000000,60 months,15.96,242.97,C,C5,...,Jan-2016,242.97,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN
39,1069346,1304237,12500.0,12500.0,12475.000000,60 months,12.69,282.44,B,B5,...,Jan-2016,282.44,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN
61,1068934,1277395,17500.0,8950.0,8925.000000,60 months,17.27,223.74,D,D3,...,Jan-2016,223.74,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN
86,1063958,1297940,14000.0,14000.0,13975.000000,60 months,17.27,349.98,D,D3,...,Jan-2016,349.98,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN
95,1068575,1303001,15300.0,15300.0,15275.000000,60 months,22.06,423.10,F,F4,...,Jan-2016,423.10,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN
99,1067874,1302235,6000.0,6000.0,6000.000000,60 months,12.69,135.57,B,B5,...,Jan-2016,135.57,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN
101,1034693,1264291,16000.0,16000.0,16000.000000,60 months,17.58,402.65,D,D4,...,Jan-2016,402.65,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN
167,1067654,1302043,16000.0,16000.0,15975.000000,60 months,9.91,339.25,B,B1,...,Dec-2015,339.25,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN
184,1046969,1277832,11000.0,11000.0,10750.000000,60 months,13.49,253.06,C,C1,...,Dec-2015,253.06,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN
187,1060875,1292842,22475.0,22475.0,22425.000000,60 months,15.27,537.87,C,C4,...,Dec-2015,537.87,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN
192,1067266,1301634,8400.0,8400.0,8150.000000,60 months,16.77,207.73,D,D2,...,Dec-2015,207.73,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN
217,1066664,1300858,21000.0,11800.0,11500.000000,60 months,17.27,294.98,D,D3,...,Dec-2015,294.98,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN
218,1066659,1300852,16000.0,16000.0,16000.000000,60 months,17.27,399.97,D,D3,...,Dec-2015,399.97,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN
239,1066344,1300716,15600.0,15600.0,15600.000000,60 months,12.69,352.48,B,B5,...,Jan-2016,352.48,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN
242,1064063,1296651,18825.0,18825.0,18800.000000,60 months,17.58,473.75,D,D4,...,Dec-2015,473.75,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN
261,1066173,1300526,12300.0,12300.0,12300.000000,60 months,13.49,282.96,C,C1,...,Dec-2015,282.96,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN
285,1065145,1299228,18000.0,18000.0,17975.000000,60 months,15.27,430.78,C,C4,...,Dec-2015,430.78,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN
321,1065342,1299434,20000.0,20000.0,19950.000000,60 months,14.65,472.14,C,C3,...,Dec-2015,472.14,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN
326,1065142,1299224,25000.0,25000.0,24975.000000,60 months,19.03,648.93,E,E2,...,Dec-2015,648.93,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN
327,1065320,1299408,18000.0,18000.0,18000.000000,60 months,19.03,467.23,E,E2,...,Dec-2015,467.23,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN
333,977277,1200058,20000.0,13475.0,13041.470438,60 months,10.65,290.64,B,B2,...,Dec-2015,290.64,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN
335,1059734,1291550,20000.0,20000.0,18626.346744,60 months,16.77,494.59,D,D2,...,Dec-2015,494.59,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN
338,1065104,1299181,20000.0,20000.0,18847.373057,60 months,12.69,451.90,B,B5,...,Dec-2015,451.90,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN
347,1064958,1299015,16000.0,11625.0,11368.734456,60 months,19.03,301.76,E,E2,...,Jan-2016,301.76,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN
361,1064897,1298948,3000.0,3000.0,3000.000000,60 months,19.03,77.88,E,E2,...,Dec-2015,77.88,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN
367,1064862,1298709,17000.0,17000.0,16060.110691,60 months,15.27,406.85,C,C4,...,Dec-2015,406.85,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN
375,1064639,1298460,25000.0,25000.0,23176.933614,60 months,19.03,648.93,E,E2,...,Dec-2015,648.93,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN
389,1064589,1298401,4125.0,4125.0,4125.000000,60 months,12.69,93.21,B,B5,...,Dec-2015,93.21,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
887341,36421722,39143147,20000.0,20000.0,20000.000000,36 months,11.44,658.95,B,B4,...,Jan-2016,658.95,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,360.0,256735.0,72400.0
887342,35034116,37717438,16000.0,16000.0,16000.000000,36 months,8.19,502.79,A,A5,...,Jan-2016,502.79,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,349131.0,47300.0
887343,36870234,39622961,5000.0,5000.0,5000.000000,36 months,13.66,170.07,C,C3,...,Jan-2016,170.07,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,31933.0,1300.0
887344,34303717,36967090,21000.0,21000.0,21000.000000,60 months,12.99,477.71,C,C2,...,Jan-2016,477.71,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,72123.0,37400.0
887348,36631385,39374138,13000.0,13000.0,13000.000000,36 months,8.19,408.52,A,A5,...,Jan-2016,408.52,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,199384.0,7200.0
887349,36691397,39434133,20000.0,20000.0,20000.000000,36 months,6.99,617.46,A,A3,...,Jan-2016,617.46,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,388140.0,39700.0
887350,36500819,39232937,10300.0,10300.0,10300.000000,60 months,13.66,237.86,C,C3,...,Jan-2016,237.86,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,50.0,41956.0,22000.0
887352,36231083,38942474,15000.0,15000.0,15000.000000,36 months,11.99,498.15,B,B5,...,Jan-2016,498.15,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,15724.0,9700.0
887353,36371802,39103231,15000.0,15000.0,15000.000000,60 months,11.44,329.44,B,B4,...,Jan-2016,329.44,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,33529.0,26100.0
887354,36250801,38962184,6000.0,6000.0,6000.000000,36 months,17.86,216.50,D,D5,...,Jan-2016,216.50,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,384500.0,8500.0
887355,36331554,39042967,26950.0,26950.0,26950.000000,36 months,8.19,846.88,A,A5,...,Jan-2016,846.88,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,41650.0,129100.0
887356,36460697,39182359,23000.0,23000.0,23000.000000,60 months,15.59,554.32,D,D1,...,Jan-2016,554.32,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,48978.0,65600.0
887357,35773415,38468842,18700.0,18700.0,18700.000000,60 months,17.86,473.44,D,D5,...,Jan-2016,473.44,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,40164.0,10200.0
887358,36440728,39152101,25000.0,25000.0,25000.000000,60 months,15.99,607.82,D,D2,...,Jan-2016,607.82,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,17275.0,18700.0
887359,35591131,38288343,25000.0,25000.0,25000.000000,60 months,15.59,602.52,D,D1,...,Jan-2016,602.52,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,13860.0,24400.0
887360,36361815,39093260,26500.0,26500.0,26500.000000,60 months,8.67,545.87,B,B1,...,Jan-2016,545.87,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,115511.0,118600.0
887361,36201871,38913321,21000.0,21000.0,21000.000000,36 months,6.03,639.15,A,A1,...,Jan-2016,639.15,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,212337.0,76300.0
887362,36381756,39013193,8000.0,8000.0,8000.000000,36 months,8.19,251.40,A,A5,...,Jan-2016,251.40,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,211412.0,7300.0
887363,36231724,38943173,12000.0,12000.0,12000.000000,36 months,9.49,384.34,B,B2,...,Jan-2016,384.34,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,20671.0,11900.0
887365,36381704,39013139,7000.0,7000.0,7000.000000,36 months,14.31,240.30,C,C4,...,Jan-2016,240.30,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,32135.0,9900.0
887367,36301729,39023153,10000.0,10000.0,10000.000000,36 months,6.49,306.45,A,A2,...,Jan-2016,306.45,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,88120.0,30300.0
887368,36250208,38961532,13150.0,13150.0,13150.000000,60 months,14.99,312.77,C,C5,...,Jan-2016,312.77,Mar-2015,0.0,1.0,INDIVIDUAL,0.0,0.0,158977.0,20700.0
887370,35094480,37777829,7500.0,7500.0,7500.000000,36 months,9.49,240.22,B,B2,...,Jan-2016,240.22,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,3174.0,18611.0,14500.0
887372,36330911,39042282,12000.0,12000.0,12000.000000,36 months,11.99,398.52,B,B5,...,Jan-2016,398.52,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,237002.0,30300.0
887373,36221446,38932858,11575.0,11575.0,11575.000000,36 months,15.59,404.61,D,D1,...,Jan-2016,404.61,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,19798.0,28100.0
887374,36371250,39102635,10000.0,10000.0,10000.000000,36 months,11.99,332.10,B,B5,...,Jan-2016,332.10,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,25274.0,17100.0
887375,36441262,39152692,24000.0,24000.0,24000.000000,36 months,11.99,797.03,B,B5,...,Jan-2016,797.03,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,140285.0,10200.0
887376,36271333,38982739,13000.0,13000.0,13000.000000,60 months,15.99,316.07,D,D2,...,Jan-2016,316.07,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,34178.0,18000.0
887377,36490806,39222577,12000.0,12000.0,12000.000000,60 months,19.99,317.86,E,E3,...,Jan-2016,317.86,Jan-2016,1.0,1.0,INDIVIDUAL,0.0,0.0,58418.0,27000.0
887378,36271262,38982659,20000.0,20000.0,20000.000000,36 months,11.99,664.20,B,B5,...,Jan-2016,664.20,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,33307.0,41700.0

In [20]:
loan

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,tot_coll_amt,tot_cur_bal,total_rev_hi_lim
0,1077501,1296599,5000.0,5000.0,4975.000000,36 months,10.65,162.87,B,B2,...,Jan-2015,171.62,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN
1,1077430,1314167,2500.0,2500.0,2500.000000,60 months,15.27,59.83,C,C4,...,Apr-2013,119.66,Sep-2013,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN
2,1077175,1313524,2400.0,2400.0,2400.000000,36 months,15.96,84.33,C,C5,...,Jun-2014,649.91,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN
3,1076863,1277178,10000.0,10000.0,10000.000000,36 months,13.49,339.31,C,C1,...,Jan-2015,357.48,Jan-2015,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN
5,1075269,1311441,5000.0,5000.0,5000.000000,36 months,7.90,156.46,A,A4,...,Jan-2015,161.03,Sep-2015,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN
7,1072053,1288686,3000.0,3000.0,3000.000000,36 months,18.64,109.43,E,E1,...,Jan-2015,111.34,Dec-2014,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN
8,1071795,1306957,5600.0,5600.0,5600.000000,60 months,21.28,152.39,F,F2,...,Apr-2012,152.39,Aug-2012,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN
9,1071570,1306721,5375.0,5375.0,5350.000000,60 months,12.69,121.45,B,B5,...,Nov-2012,121.45,Mar-2013,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN
10,1070078,1305201,6500.0,6500.0,6500.000000,60 months,14.65,153.45,C,C3,...,Jun-2013,1655.54,Dec-2015,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN
11,1069908,1305008,12000.0,12000.0,12000.000000,36 months,12.69,402.54,B,B5,...,Sep-2013,6315.30,Aug-2013,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN
12,1064687,1298717,9000.0,9000.0,9000.000000,36 months,13.49,305.38,C,C1,...,Jul-2012,305.38,Nov-2012,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN
13,1069866,1304956,3000.0,3000.0,3000.000000,36 months,9.91,96.68,B,B1,...,Jan-2015,102.43,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN
14,1069057,1303503,10000.0,10000.0,10000.000000,36 months,10.65,325.74,B,B2,...,Oct-2013,325.74,Mar-2014,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN
15,1069759,1304871,1000.0,1000.0,1000.000000,36 months,16.29,35.31,D,D1,...,Jan-2015,36.32,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN
16,1065775,1299699,10000.0,10000.0,10000.000000,36 months,15.27,347.98,C,C4,...,Jan-2015,370.46,Apr-2015,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN
17,1069971,1304884,3600.0,3600.0,3600.000000,36 months,6.03,109.57,A,A1,...,May-2013,583.45,May-2014,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN
18,1062474,1294539,6000.0,6000.0,6000.000000,36 months,11.71,198.46,B,B3,...,Feb-2015,16.98,Jul-2015,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN
19,1069742,1304855,9200.0,9200.0,9200.000000,36 months,6.03,280.01,A,A1,...,Jul-2012,8061.10,Jul-2012,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN
20,1069740,1284848,20250.0,20250.0,19142.161077,60 months,15.27,484.63,C,C4,...,Aug-2015,6024.09,Dec-2015,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN
21,1039153,1269083,21000.0,21000.0,21000.000000,36 months,12.42,701.73,B,B4,...,Sep-2013,701.73,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN
22,1069710,1304821,10000.0,10000.0,10000.000000,36 months,11.71,330.76,B,B3,...,Jan-2015,349.21,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN
23,1069700,1304810,10000.0,10000.0,10000.000000,36 months,11.71,330.76,B,B3,...,Oct-2013,4942.63,Mar-2014,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN
24,1069559,1304634,6000.0,6000.0,6000.000000,36 months,11.71,198.46,B,B3,...,Oct-2012,198.46,Mar-2013,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN
25,1069697,1273773,15000.0,15000.0,15000.000000,36 months,9.91,483.38,B,B1,...,Sep-2012,2447.05,Sep-2012,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN
26,1069800,1304679,15000.0,15000.0,8725.000000,36 months,14.27,514.64,C,C2,...,NaN,0.00,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN
27,1069657,1304764,5000.0,5000.0,5000.000000,60 months,16.77,123.65,D,D2,...,Dec-2012,123.65,May-2013,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN
28,1069799,1304678,4000.0,4000.0,4000.000000,36 months,11.71,132.31,B,B3,...,Apr-2013,2638.77,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN
29,1047704,1278806,8500.0,8500.0,8500.000000,36 months,11.71,281.15,B,B3,...,Dec-2014,581.59,Jan-2015,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN
30,1032111,1261745,4375.0,4375.0,4375.000000,36 months,7.51,136.11,A,A3,...,Jan-2015,144.94,Dec-2014,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN
31,1069539,1304608,31825.0,31825.0,31825.000000,36 months,7.90,995.82,A,A4,...,Aug-2013,16966.70,Oct-2015,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
887198,37790415,40553149,30000.0,30000.0,30000.000000,36 months,14.99,1039.82,C,C5,...,Dec-2015,140.76,Dec-2015,0.0,1.0,INDIVIDUAL,0.0,0.0,302480.0,43100.0
887202,36118265,38829794,12000.0,12000.0,12000.000000,36 months,11.99,398.52,B,B5,...,Dec-2015,9178.83,Dec-2015,0.0,1.0,INDIVIDUAL,0.0,0.0,19865.0,29100.0
887215,36400285,39031612,12825.0,12825.0,12825.000000,36 months,17.14,458.15,D,D4,...,May-2015,12170.64,May-2015,0.0,1.0,INDIVIDUAL,0.0,0.0,131124.0,16800.0
887231,37830269,40593005,7675.0,7675.0,7675.000000,36 months,15.59,268.28,D,D1,...,Nov-2015,268.28,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,78891.0,31300.0
887248,37117178,39889901,12000.0,12000.0,12000.000000,36 months,12.39,400.82,C,C1,...,Nov-2015,400.82,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,236495.0,29700.0
887249,37357154,40119871,27650.0,27650.0,27650.000000,60 months,21.99,763.51,E,E5,...,Apr-2015,27645.25,Jan-2015,0.0,1.0,INDIVIDUAL,0.0,0.0,18671.0,30500.0
887254,37068125,39536839,7200.0,7200.0,7200.000000,36 months,14.99,249.56,C,C5,...,Aug-2015,249.56,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,78489.0,11900.0
887258,37147964,39920782,28500.0,28500.0,28500.000000,36 months,19.24,1048.16,E,E2,...,Dec-2015,1048.16,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,42700.0,65000.0
887263,37317965,40080791,25000.0,25000.0,25000.000000,60 months,12.39,561.06,C,C1,...,Dec-2015,22199.24,Dec-2015,0.0,1.0,INDIVIDUAL,0.0,0.0,993967.0,120600.0
887264,36801355,39554067,20000.0,20000.0,20000.000000,36 months,12.99,673.79,C,C2,...,Oct-2015,16534.04,Oct-2015,0.0,1.0,INDIVIDUAL,0.0,0.0,41272.0,18200.0
887268,37297854,40040662,20000.0,20000.0,20000.000000,36 months,14.99,693.21,C,C5,...,Nov-2015,100.00,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,359329.0,38300.0
887275,37247819,40020610,29675.0,29675.0,29675.000000,60 months,13.66,685.27,C,C3,...,May-2015,685.27,Dec-2015,0.0,1.0,INDIVIDUAL,0.0,0.0,351558.0,45400.0
887276,37257620,40030388,25000.0,25000.0,25000.000000,36 months,20.99,941.75,E,E4,...,Oct-2015,941.75,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,167189.0,35500.0
887279,37127712,39900482,5875.0,5875.0,5875.000000,36 months,16.49,207.98,D,D3,...,Dec-2015,4641.13,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,19098.0,10300.0
887280,35998858,38700420,5875.0,5875.0,5875.000000,36 months,15.59,205.37,D,D1,...,Nov-2015,410.74,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,174030.0,12300.0
887290,37167534,39940303,35000.0,35000.0,35000.000000,60 months,24.99,1027.10,F,F4,...,Apr-2015,1027.10,Sep-2015,0.0,1.0,INDIVIDUAL,0.0,0.0,603744.0,31300.0
887303,37087435,39850186,12000.0,12000.0,12000.000000,36 months,17.86,432.99,D,D5,...,Aug-2015,432.99,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,51882.0,3800.0
887308,37227443,40000189,2725.0,2725.0,2725.000000,36 months,17.86,98.33,D,D5,...,Jul-2015,98.33,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,162837.0,5800.0
887322,37317288,40080027,10000.0,10000.0,10000.000000,60 months,23.99,287.63,F,F2,...,Oct-2015,590.26,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,8529.0,7200.0
887330,37077186,39839905,14000.0,14000.0,14000.000000,36 months,15.99,492.13,D,D2,...,Aug-2015,492.13,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,22279.0,12100.0
887332,37187152,39959868,15000.0,15000.0,15000.000000,36 months,12.39,501.02,C,C1,...,Sep-2015,12683.97,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,186375.0,39000.0
887337,36200493,38911833,19600.0,19600.0,19600.000000,60 months,14.31,459.22,C,C4,...,Sep-2015,459.22,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,141120.0,233000.0
887345,37011266,39773999,28000.0,28000.0,28000.000000,36 months,15.59,978.74,D,D1,...,Oct-2015,978.74,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,74969.0,43500.0
887346,36808246,39560970,6000.0,6000.0,6000.000000,36 months,10.49,194.99,B,B3,...,Nov-2015,4717.46,Nov-2015,0.0,1.0,INDIVIDUAL,0.0,2140.0,4419.0,43400.0
887347,37041208,39803931,17000.0,17000.0,17000.000000,60 months,15.99,413.32,D,D2,...,Mar-2015,15.29,Feb-2015,0.0,1.0,INDIVIDUAL,0.0,0.0,125541.0,20500.0
887351,36743377,39486112,4200.0,4200.0,4200.000000,36 months,15.99,147.64,D,D2,...,Aug-2015,147.64,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,207975.0,20400.0
887364,36231718,38943165,10775.0,10775.0,10775.000000,36 months,6.03,327.95,A,A1,...,Jul-2015,9439.34,Jun-2015,0.0,1.0,INDIVIDUAL,0.0,0.0,24696.0,41700.0
887366,36241316,38952731,6225.0,6225.0,6225.000000,36 months,16.49,220.37,D,D3,...,Dec-2015,4858.17,Dec-2015,0.0,1.0,INDIVIDUAL,0.0,0.0,8357.0,1800.0
887369,36421485,39142898,4000.0,4000.0,4000.000000,36 months,8.67,126.59,B,B1,...,Jun-2015,3655.51,Nov-2015,0.0,1.0,INDIVIDUAL,0.0,0.0,18979.0,30100.0
887371,36260758,38972123,10850.0,10850.0,10850.000000,36 months,19.24,399.04,E,E2,...,Aug-2015,25.00,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,972.0,53777.0,16800.0